<h1><%= t "mail.pwd_reset.header" %></h1>

<p><%= t "mail.pwd_reset.instructions" %></p>

<%= link_to t("mail.pwd_reset.link"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "mail.pwd_reset.expire" %></p>

<p><%= t "mail.pwd_reset.warning" %></p>
